<figure class="border-start ms-3 ps-1">
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    You
  </figcaption>
</figure>

<figure class="border-start bg-warning ms-3 ps-1" style="--bs-bg-opacity: .3;">
  <blockquote class="blockquote">
    <p><%= @reponse %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your coach
  </figcaption>
</figure>

<a href="/ask" class="ms-3">Ask a new question</a>
